[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
C = Country
C_default = PT
ST = State
ST_default = Lx
L = City
L_default = Lx
O = Organization Name
O_default = brunomld
OU = Organization Unit
OU_default = brunomld-CA
CN = Common Name
CN_default = brunomld.chickenkiller.com

[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = brunomld.chickenkiller.com
DNS.2   = www.brunomld.chickenkiller.com
